# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Cocotb / simulator build
sim/pattern_tb/sim_build/
sim/pattern_tb/*.o
sim/pattern_tb/work-obj*.cf
sim/pattern_tb/waves.vcd
rtl/generated/*.o
rtl/generated/work-obj*.cf

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# Python virtualenv
venv/
.env/
